<div class="container-a">

  <div style="text-align: right">

    <button  id="show-modal" v-if="academicSelect!=null && permissions.edit" @click="editAcademic()" class="btn btn-success btn-options"  data-toggle="modal" data-target="#editAcademic">
      <i class="glyphicon glyphicon-pencil"></i>
    </button>

    <button  id="show-modal" @click="deleteAcademic()" v-if="academicSelect!=null && permissions.delete" class="btn btn-danger btn-options"  data-toggle="modal" data-target="#deleteAcademic">
      <i class="glyphicon glyphicon glyphicon-remove"></i>
    </button>

    <button v-if="permissions.add" id="show-modal" @click="addMoreAcademic" class="btn btn-info btn-options" data-toggle="modal" data-target="#addAcademic">
      <i class="glyphicon glyphicon-plus"></i>
    </button>

  </div>
  <br>
  <div class="panel panel-default">

    <div class="panel-heading">

      <div class="row">
        <div class="col-sm-3">
          <label class="label-a" v-text="translate('people.name_academic')"></label>
        </div>

        <div class="col-sm-3">
          <label class="label-a" v-text="translate('people.career')"></label>
        </div>

        <div class="col-sm-2">
          <label class="label-a" v-text="translate('people.level_academic')"></label>
        </div>
        <div class="col-sm-3">
          <label class="label-a" v-text="translate('people.comments')"></label>
        </div>

        <div class="col-sm-1">
          <label class="label-a" v-text="translate('people.now')"></label>
        </div>

      </div>
    </div>

    <ul class="list-group">
      <li class="list-group-item" v-for="academic in academics">
        <div class="row" @click="select(academic)">
          <div class="col-sm-3">
            {{ academic.name_academic }}
            [{{ academic.year_entry }}-{{ academic.year_exit}}]
          </div>

          <div class="col-sm-3">
            {{ academic.career }}
          </div>

          <div class="col-sm-2">
            {{ academic.level_academic }}
          </div>

          <div class="col-sm-3">
            {{ academic.comments }}
          </div>


          <div class="col-sm-1">

            <div style="font-size: 20px; text-align: center">
              {{ academic.now | trueOrFalse }}
            </div>
          </div>

        </div>
      </li>
    </ul>

    <div class="row" >
      <div v-if="academicSelect!=null" class="col-sm-12" style="text-align: right">

          <label class="label-a" v-text="translate('people.selected')"></label>
          : {{ academicOriginal.name_academic }}&nbsp;

      </div>
    </div>


    <delete-academic v-if="showModalDeleteAcademic":academic="academicOriginal" :remove="removeAcademic">
    </delete-academic>

    <add-academic  v-if="flagShowAddAcademic":candidate="candidate" :add="addAcademic">
    </add-academic>

    <edit-academic v-if="flagShowEditAcademic" :academic="academicOriginal" :academicnow="academicSelect" :update="updateAcademic">
    <edit-academic>

</div>
