<div class="container-a">
	<!--	<div> <vue-toast v-ref:toast></vue-toast> </div>-->

	<div style="text-align: right">
		<button id="show-modal" @click="addCandidate" class="btn btn-keytalent"><i class="glyphicon glyphicon-plus"></i></button>
		<button id="show-modal" @click="cancelAddCandidate" class="btn btn-keytalent"><i class="glyphicon glyphicon glyphicon-remove"></i></button>
	</div>


	<add-candidate
	v-if="showNewCandidate"
	:getcandidate="getNewCandidate">
</add-candidate>
<div v-show="flagTable">
	<a-table :data="candidates" :columns="columns" :total="candidates.length"
	:select="select">
</a-table>
</div>

<div class="row" v-if="flagDetailSelected">

	<div class="col-sm-4  " @click="showTable()">
		<div class="back-section">
			<i class="glyphicon glyphicon-chevron-left" v-text="translate('general.back')">
			</i>
		</div>
	</div>
</div>



<div class="container-detail" v-if="flagDetailSelected">
	<div class="container-detail-header">
		<label v-text="translate('people.candidates.selected')"></label>
	</div>
	<div class="container-detail-section">

		<div class="row">
			<div class="col-xs-6 col-md-4">
				<figure class="snip1559 tumbnails">
					<div v-if="candidateSelected.photo"class="profile-image">
						<img :src="candidateSelected.photo.name_photo" alt="" />
					</div>

					<div v-if="!candidateSelected.photo"class="profile-image">
						<img src="../img/default.png" alt="" />
					</div>
					<figcaption>
						<div class="icons">


							<add-photo
													v-if="showModalPhoto"
													@close="showModalPhoto = false"
													:getphoto="getPhoto"
													:candidate="candidateSelected.id">
							</add-photo>


							 <i class="glyphicon glyphicon-picture" @click="showModalPhoto = true"></i>
							 <i class="glyphicon glyphicon-save-file"></i>
						</div>
					</figcaption>
				</figure>
			</div>

			<div class="col-xs-6 col-md-8">
				<div class="tab-header">
					<h4>{{ candidateSelected.username }}</h4>
				</div>

				<table class="table table-condensed">
					<tr>
						<td>
							<label class="label-a" v-text="translate('people.position')"></label>
						</td>
						<td>
							{{ candidateSelected.position }}
						</td>
					</tr>
					<tr>
						<td>
							<label class="label-a"  v-text="translate('people.email')"></label>
						</td>
						<td>
							{{ candidateSelected.email }}
						</td>
					</tr>
					<tr>
						<td>
							<label class="label-a"  v-text="translate('people.gender')"></label>
						</td>
						<td>
							{{ candidateSelected.gender }}
						</td>
					</tr>
					<tr>
						<td>
							<label class="label-a"  v-text="translate('people.location')"></label>
						</td>
						<td>
							{{ candidateSelected.location }}
						</td>
					</tr>
					<tr>
						<td>
							<label class="label-a" v-text="translate('people.birthdate')"></label>
						</td>
						<td>
							{{ candidateSelected.day }} /
							{{ candidateSelected.month }} /
							{{ candidateSelected.year }}
						</td>
					</tr>
					<tr>
						<td>
							<label class="label-a" v-text="translate('people.phone')"></label>
						</td>
						<td>
							{{ candidateSelected.code }} / {{ candidateSelected.phone }}
						</td>
					</tr>
					<tr>
						<td>
							<label class="label-a" v-text="translate('people.category')"></label>
						</td>
						<td>
							{{ candidateSelected.category_candidate.name }}
						</td>
					</tr>
					<tr>
						<td>
							<label class="label-a" v-text="translate('people.subcategory')"></label>
						</td>
						<td>
							{{ candidateSelected.subcategory_candidate.name }}
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>



<div  v-if="flagDetailSelected">

	<div>
		<a-table :data="candidateSelected.experiences" :columns="columnsExperience" :total="candidateSelected.experiences.length" :select="select">
		</a-table>
	</div>
</div>




</div>
