<div class="container-component">

  <div class="row" v-if="showSearch">
    <div class="col-sm-6">
      <form  class="form" id="search" >
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" v-model="filterKey">
        </div>
      </form>
    </div>
    <div class="col-sm-2">

      <div>
        <select v-model="pagination" class="form-control">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
          <option value="40">40</option>
        </select>
      </div>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-12">
      <table class="table-a">
        <thead>

          <tr>
            <th v-for="key in columns"
            @click="sortBy(key.key)"
            :class="{ active: sortKey == key }">
            {{ translate('table.'+key.label) }}
            <span class="arrow" :class="sortOrders[key.key] > 0 ? 'asc' : 'dsc'">
            </span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr v-if="filteredData.length>0"v-for="entry in filteredData" @click="selectElement(entry)">
          <td v-for="key in columns">
            <span v-if="key.filter!=undefined && key.filter!=null && key.filter=='trueOrFalse'">
              {{entry[key.key] | trueOrFalse }}
            </span>

            <span v-if="key.filter!=undefined && key.filter!=null && key.filter=='shortDate'">
              {{entry[key.key] | shortDate }}
            </span>

            <span v-if="key.filter==null || key.filter==undefined">
              {{entry[key.key]}}
            </span>
          </td>
        </tr>
        <tr v-if="!filteredData.length>0">
          <td style="text-align: center">
            No existen registros
          </td>
        </tr>
      </tbody>
    </table>
    </div>
  </div>

</div>
