<div class="container-component">
  <div class="modal fade" id="editEconomic" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 70%" role="document">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel" v-text="translate('people.edit_economic')"></h4>
        </div>

        <div class="modal-body">

          <div class="row">
            <div class="col-sm-3">

              <label v-bind:class="{ 'label-a': validation.current_salary, 'label-error':  !validation.current_salary}" v-text="translate('people.current_salary')"></label>
              <input class="form-control" type="text" name="name" v-model="economic.current_salary">

            </div>

            <div class="col-sm-7">


              <label v-bind:class="{ 'label-a': validation.economic_package, 'label-error':  !validation.economic_package}" v-text="translate('people.economic_package')"></label>
              <input class="form-control" type="text" name="name" v-model="economic.economic_package">

            </div>

            <div class="col-sm-2 has-success">
              <label class="label-a" v-text="translate('people.relocation')"></label>

              <input type="checkbox" name="name" v-bind:true-value=1 v-bind:false-value=0 v-model="economic.relocation">
            </div>

          </div>

          <div class="row">
            <div class="col-sm-3">

              <label v-bind:class="{ 'label-a': validation.salary_expectation, 'label-error':  !validation.salary_expectation}" v-text="translate('people.salary_expectation')"></label>
              <input class="form-control" type="text" name="name" v-model="economic.salary_expectation">
            </div>

            <div class="col-sm-9">
              <label  class="label-a" v-text="translate('people.comments')"></label>
              <input class="form-control" type="text" name="name" v-model="economic.comments">

            </div>
          </div>

        </div>

        <div class="modal-footer">


          <button v-if="isValid && economicChange()" class="btn btn-success" @click="editEconomic()" data-dismiss="modal">

          <label v-text="translate('people.confirm')"></label>


        </button>
        </div>

      </div>
    </div>
  </div>
</div>
