body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}
.container-table{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
  border: 2px solid #D6DBDF  ;
  border-radius: 3px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 8px 8px 10px #BFC9CA;
  font-size: 13px;
}

th {
  background-color: #4261b9;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
.back-section{
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 40px;
  background-color: #4261b9;
  color: rgba(255,255,255,0.66);
  border-radius: 40px 5px 5px 5px;
  
}
.container-detail{
  border: 1px solid  gray;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 8px 8px 10px #BFC9CA;
  border-radius: 2px;
}
.container-detail-header{
  width: 100%;
  background-color: gray;
  text-align: center;
  
}

.container-detail-section{
  padding:10px;
}
.row{
  margin-top: 5px;
  margin-bottom: 5px;
}
.row label{
  color: #4261b9;
}