body {
  font-family: Helvetica Neue, Arial, sans-serif;
  font-size: 14px;
  color: #444;
}
.container-table{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

table {
  width: 100%;
  border: 2px solid #D6DBDF;
  border-radius: 3px;
  background-color: #fff;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 8px 8px 10px #BFC9CA;
  font-size: 13px;
}

th {
  background-color: #4261b9;
  color: rgba(255,255,255,0.66);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

td {
  background-color: #f9f9f9;
}

th, td {
  min-width: 120px;
  padding: 10px 20px;
}

th.active {
  color: #fff;
}

th.active .arrow {
  opacity: 1;
}

.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
.back-section{
  padding-bottom: 5px;
  padding-top: 5px;
  padding-left: 40px;
  background-color: #4261b9;
  color: rgba(255,255,255,0.66);
  border-radius: 40px 5px 5px 5px;

}
.container-detail{
  border: 2px solid #D6DBDF;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 8px 8px 10px #BFC9CA;
  border-radius: 2px;
}
.container-detail-header{
  width: 100%;
  background-color: #E5E7E9;
  text-align: center;

}

.container-detail-section{
  padding:10px;
}
.row{
  margin-top: 5px;
  margin-bottom: 5px;
}
.row label{
  color: #4261b9;
}

.container-a{
  width: 100%;
  margin-left: auto;
  margin-right: auto;

}

.container-component{
  width: 100%;
}
.mint-toast{
  box-shadow: 5px 3px 4px #BFC9CA;
  max-width: 30rem;
  position: fixed;
  right: 1.5rem;
  top: 7rem;
  z-index: 120;
  width: 100%;
}


.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, .5);
  display: table;
  transition: opacity .3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.modal-container {
  width: 800px;
  margin: 0px auto;
  padding: 20px 30px;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease;
  font-family: Helvetica, Arial, sans-serif;
}

.modal-header h3 {
  margin-top: 0;
  color: #42b983;
}

.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

/*
* The following styles are auto-applied to elements with
* transition="modal" when their visibility is toggled
* by Vue.js.
*
* You can easily play with the modal transition by editing
* these styles.
*/

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.btn-keytalent{
  background-color: #4261b9;
  color: white;
}


.snip1559 {
  font-family: 'Lato', Arial, sans-serif;
  position: relative;
  display: inline-block;
  overflow: hidden;
  margin: 8px;
  min-width: 250px;
  max-width: 310px;
  width: 100%;
  background-color: #ffffff;
  color: #2B2B2B;
  text-align: center;
  font-size: 16px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.snip1559 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.snip1559 .profile-image {
  padding: 15% 10% 0;
}

.snip1559 .profile-image img {
  max-width: 100%;
  vertical-align: top;
  position: relative;
  border-radius: 10%;
  max-width: 80%;
}

.snip1559 figcaption {
  padding: 5% 10% 15%;
}

.snip1559 h3 {
  font-family: 'Oswald';
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  margin: 3px 0;
}

.snip1559 h5 {
  font-weight: 400;
  margin: 0;
  text-transform: uppercase;
  color: #888;
  letter-spacing: 1px;
}

.snip1559 .icons i {
  color: #999;
  display: inline-block;
  margin-right: 5px;
  font-size: 1.5em;
}

.snip1559 .icons i:hover {
  color: #555;
}

.snip1559 .icons i a {
  text-decoration: none;
}


/* Demo purposes only */
