<div class="container-a">
	<div class="row" v-show="flagTable">
		<a-table :data="admins" :columns="columns" :total="admins.length" :select="select" :showSearch="false">
		</a-table>
	</div>


	<div v-if="flagDetailSelected" class="panel panel-default">
    <div class="panel-heading">
			<div class="row">
				<div class="col-sm-1" @click="showTable">
					<i  class="glyphicon glyphicon-menu-left"></i>
				</div>
				<div class="col-sm-11">
					<label v-text="translate('people.admins.selected')"></label>

				</div>
			</div>

			</div>

			<div class="panel-body">
				<div class="row" >

					<div class="col-sm-3">
						<div>
							<label v-text="translate('people.name')"></label>
						</div>
						<div>
							{{ adminSelected.username }}
						</div>
					</div>

					<div class="col-sm-3">
						<div>
							<label v-text="translate('people.email')"></label>
						</div>
						<div>
							{{ adminSelected.email }}
						</div>
					</div>


					<div class="col-sm-3">
						<div>
							<label v-text="translate('people.type')"></label>
						</div>
						<div>
							{{ adminSelected.type }}
						</div>
					</div>

					<div class="col-sm-3">
						<div>
							<label v-text="translate('people.created_at')"></label>
						</div>
						<div>
							{{ adminSelected.created_at }}
						</div>
					</div>



				</div>

				<div class="row">
					<div class="col-sm-3">
						<div>
							<label v-text="translate('people.updated_at')"></label>
						</div>
						<div>
							{{ adminSelected.updated_at }}
						</div>
					</div>

					<div class="col-sm-2">
						<div>
							<label v-text="translate('people.profiles_register')"></label>
						</div>
						<div>
							{{ adminCandidatesRegisters }}
						</div>
					</div>

				</div>

			</div>

</div>

</div>
