<div class="wrapper">
	<form class="login" @submit.prevent="null">

		<div style="text-align: right">
			<i @click="clearLogin()" class="btn btn-success glyphicon glyphicon-pencil"></i>
		</div>

		<p class="title">Log in</p>
		<strong>{{ user.name }}</strong>
		<input v-if="!flagEmailValid" type="email" placeholder="email" v-model="user.email" id="username"/>


		<button type="button" v-if="!flagEmailValid && isValid" @click="validateUser()">
			<i class="glyphicon glyphicon-arrow-right"></i></button>

			<div v-if="flagEmailValid">
				<input type="password" placeholder="Password" v-model="user.password" />

				<!-- <i class="glyphicon glyphicon-cog"></i>	<a href="#">Forgot your password?</a>	-->
			<button type="button" @click="loginAdmin()">
				<span class="state">Log in</span>
			</button>
			
		</div>
	</form>
</div>
