<div class="area">
  <nav class="main-menu">
    <br><br>
    <br><br>

    <ul >

      <li v-for="option in menu">
        <router-link  :to="option.name">
          <i class="fa fa-power-off fa-2x glyphicon":class="option.class" :style="option.style"></i>
          <span class="nav-text">
            {{ option.description }}
          </span>
        </router-link>
      </li>

  
    </ul>

    <ul class="logout">
      <li>
        <a @click="logout()">
          <i class="fa fa-power-off fa-2x glyphicon glyphicon-off"></i>
          <span class="nav-text">
            Logout
          </span>
        </a>

      </li>
    </ul>
  </nav>
</div>
