<div class="container-a">

  <div style="text-align: right">

    <button  v-if="experienceSelect!=null && permissions.edit" id="show-modal" @click="editExperience()" class="btn btn-success btn-options" data-toggle="modal" data-target="#editExperience">
      <i class="glyphicon glyphicon-pencil"></i>
    </button>

    <button  v-if="experienceSelect!=null && permissions.delete" id="show-modal" @click="deleteExperience()" class="btn btn-danger btn-options" data-toggle="modal" data-target="#deleteExperience">
      <i class="glyphicon glyphicon glyphicon-remove"></i>
    </button>

    <button v-if="permissions.add" id="show-modal" @click="addMoreExperience()" class="btn btn-info btn-options" data-toggle="modal" data-target="#addExperinece">
      <i class="glyphicon glyphicon-plus"></i>
    </button>

  </div>

  <br>

  <div class="panel panel-default">

    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-3">
          <label class="label-a" v-text="translate('people.name_business')"></label>
        </div>
        <div class="col-sm-2">

          <label class="label-a" v-text="translate('people.position')"></label>
        </div>
        <div class="col-sm-2">

          <label class="label-a" v-text="translate('people.turn_business')"></label>
        </div>
        <div class="col-sm-2">

          <label class="label-a" v-text="translate('people.period')"></label>
        </div>
        <div class="col-sm-2">

          <label class="label-a" v-text="translate('people.comments')"></label>
        </div>


        <div class="col-sm-1">
          <label class="label-a" v-text="translate('people.now')"></label>
        </div>



      </div>

    </div>

    <ul class="list-group">
      <li class="list-group-item" v-for="experience in candidate.experiences" @click="select(experience)">
        <div class="row">
          <div class="col-sm-3">
            {{ experience.name_business }}
          </div>
          <div class="col-sm-2">
            {{ experience.name_job }}
          </div>
          <div class="col-sm-2">
            {{ experience.turn_business }}
          </div>
          <div class="col-sm-2">
            {{ experience.admission_date | shortDate }}-{{ experience.departure_date | shortDate}}
          </div>
          <div class="col-sm-2">
            {{ experience.comments }}
          </div>

          <div class="col-sm-1">

            <div style="font-size: 20px; text-align: center">
              {{ experience.now | trueOrFalse }}
            </div>
          </div>

        </div>
      </li>
    </ul>

    <div class="row" >
      <div v-if="experienceSelect!=null" class="col-sm-12" style="text-align: right">

          <label class="label-a" v-text="translate('people.selected')"></label>
          : {{ experienceSelect.name_business }}&nbsp;

      </div>
    </div>

  </div>


  <delete-experience v-if="showModalDeleteExperince" :experience="experienceSelect" :remove="removeExperince" @close="showModalDeleteExperince = false">
  </delete-experience>

  <edit-experience v-if="showModalEditExperience" :experience="experienceOriginal" :experiencenow="experienceSelect" :update="update">
  </edit-experience>


  <add-experience v-if="showModalAddExperience" :candidate="candidate.id" :add="addExperience">
  </add-experience>

</div>
