<div class="container-component">
  <div class="modal fade" id="editExperience" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" style="width: 70%" role="document">
      <div class="modal-content" >
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="myModalLabel" v-text="translate('people.edit_experience')"></h4>
        </div>

        <div class="modal-body">

          <div class="row">

            <div class="col-sm-6">

              <label v-bind:class="{ 'label-a': validation.name_business, 'label-error':  !validation.name_business}" v-text="translate('people.name_business')"></label>
              <input type="text"
              v-model="experience.name_business"
              class="form-control"
              name="name" value="">
            </div>

            <div class="col-sm-5">

              <label  v-bind:class="{ 'label-a': validation.name_job, 'label-error':  !validation.name_job}" v-text="translate('people.name_job')"></label>
              <input type="text"
              v-model="experience.name_job"
              class="form-control"
              name="name" value="">
            </div>

            <div class="col-sm-1 has-success">
              <label class="label-a" v-text="translate('people.now')"></label>

              <input type="checkbox" name="name"
              v-bind:true-value="1"
              v-bind:false-value="0"
              @change="experienceNow()"
              v-model="experience.now">
            </div>

          </div>

          <div class="row">

            <div class="col-sm-6">

              <label v-bind:class="{ 'label-a': validation.turn_business, 'label-error':  !validation.turn_business}" v-text="translate('people.turn_business')"></label>
              <input type="text"
              v-model="experience.turn_business"
              class="form-control"
              name="name" value="">
            </div>

            <div class="col-sm-6">

              <label class="label-a" v-text="translate('people.comments')"></label>
              <input type="text"
              v-model="experience.comments"
              class="form-control"
              name="name" value="">
            </div>
          </div>

          <div class="row">

            <div class="col-sm-3" >

              <label v-bind:class="{ 'label-a': validation.admission_date, 'label-error':  !validation.admission_date}" v-text="translate('people.admission_date')"></label>
              <input type="date" name="" class="form-control" v-model="experience.admission_date">

            </div>

            <div class="col-sm-3" v-if="experience.now==0 || experience.now=='0'">

            <label v-bind:class="{ 'label-a': validation.departure_date, 'label-error':  !validation.departure_date}" v-text="translate('people.departure_date')"></label>
            <input type="date" name="" class="form-control" @change="validateDates()" v-model="experience.departure_date">

          </div>
        </div>
      </div>

        </div>

        <div class="modal-footer">
          <button v-if="formIsValid() && experienceChange()" class="btn btn-success" @click="editExperience()" data-dismiss="modal">

            <label v-text="translate('people.confirm')"></label>


          </button>


        </div>

      </div>
    </div>
  </div>
</div>
