<div class="container-a">
  <div class="row">
    <div class="col-sm-1">
      <div class="">
        <br><br>
      </div>
    </div>
    <div class="col-sm-11">
      <div style="text-align: right">


        <button  v-if="groupSelect!=null && permissions.edit" id="show-modal" @click="beforeEditGroup()" class="btn btn-success btn-options" data-toggle="modal" data-target="#editGroup">
          <i class="glyphicon glyphicon-pencil"></i>
        </button>

        <button  v-if="groupSelect!=null && permissions.delete" id="show-modal" @click="beforeDeleteGroup()" class="btn btn-danger btn-options" data-toggle="modal" data-target="#deleteGroup">
          <i class="glyphicon glyphicon glyphicon-remove"></i>
        </button>

        <button v-if="permissions.add"id="show-modal" @click="beforeAddGroup()" class="btn btn-info btn-options" data-toggle="modal" data-target="#addGroup">
          <i class="glyphicon glyphicon-plus"></i>
        </button>

      </div>
    </div>
  </div>
  <br>

  <a-table v-if="flagShowTable" :data="groups" :columns="columns" :total="groups.length" :select="select">
  </a-table>



  <div class="panel panel-default shadow-key" v-if="flagDetailSelected">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-1" @click="showTable">
          <i  class="glyphicon glyphicon-menu-left"></i>
        </div>
        <div class="col-sm-10">
          <label v-text="translate('people.group.selected')"></label>

        </div>
      </div>
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="col-sm-2">
          <label class="label-a" v-text="translate('people.name_group')"></label>
          <div >
            {{ groupSelect.name_group }}
          </div>
        </div>

        <div class="col-sm-2">
          <label class="label-a" v-text="translate('people.category')"></label>
          <div >
            {{ groupSelect.descrCategory }}


          </div>
        </div>

        <div class="col-sm-2">
          <label class="label-a" v-text="translate('people.subcategory')"></label>
          <div >
            {{ groupSelect.descrSubCategory }}
          </div>
        </div>

        <div class="col-sm-2">
          <label class="label-a" v-text="translate('people.visible')"></label>
          <div >
            {{ groupSelect.visible | trueOrFalse }}
          </div>
        </div>

      </div>


    </div>
  </div>

  <a-table v-if="flagShowTableCandidates" :data="candidates" :columns="columnsCandidates" :total="candidates.length" :select="selectCandidate" :showSearch="false">
  </a-table>


  <br>


  <a-candidate v-if="flagDetailSelectedCandidate" :candidate="candidateSelected" :show="showTableCandidates">
  </a-candidate>



      <add-group v-if="flagAddGroup" :after="afterAddGroup"></add-group>
      <delete-group v-if="flagDeleteGroup" :group="groupSelect" :after="afterDeleteGroup"></delete-group>
      <edit-group v-if="flagEditGroup" :group="groupClone" :groupnow="groupSelect" :after="afterEditGroup"></edit-group>



</div>
