<div class="container-a">



  <a-table v-if="flagShowTable" :data="groups" :columns="columns" :total="groups.length" :select="select">
  </a-table>



  <div class="panel panel-default shadow-key" v-if="flagDetailSelected">
    <div class="panel-heading">
      <div class="row">
        <div class="col-sm-1" @click="showTable">
          <i  class="glyphicon glyphicon-menu-left"></i>
        </div>
        <div class="col-sm-10">
          <label v-text="translate('people.group.selected')"></label>

        </div>
      </div>
    </div>
    <div class="panel-body">

      <div class="row">
        <div class="col-sm-2">
          <label class="label-a" v-text="translate('people.name_group')"></label>
          <div >
            {{ groupSelect.name_group }}
          </div>
        </div>

        <div class="col-sm-2">
          <label class="label-a" v-text="translate('people.category')"></label>
          <div >
            {{ groupSelect.descrCategory }}


          </div>
        </div>

        <div class="col-sm-2">
          <label class="label-a" v-text="translate('people.subcategory')"></label>
          <div >
            {{ groupSelect.descrSubCategory }}
          </div>
        </div>

      </div>


    </div>
  </div>

  <a-table v-if="flagShowTableCandidates" :data="candidates" :columns="columnsCandidates" :total="candidates.length" :select="selectCandidate" :showSearch="false">
  </a-table>


  <br>


  <a-candidate v-if="flagDetailSelectedCandidate" :candidate="candidateSelected" :show="showTableCandidates">
  <a-candidate>



</div>
